.cover-parent{
    height: 500px;
    width: 100%;
    background-color: teal;

}

.cover-img{
    height: 100%;
    width: 100%;
    position: relative;
}

.cover-img::after{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0px;
    background-color: rgba(5, 5, 5, 0.897);
    opacity: 0.6;
}

.cover-img img{
    height: 100%;
    width: 100%;
}



/* Cover text */

.cover .text{
    position: absolute;
    width: 100%;
    top: 150px;
}

.cover .text p{
    margin: 10px;
    color: cornsilk;
    text-align: center;
}

.text p:nth-child(1){
    font-size: 15px;
    font-weight: 700;
}

.text p:nth-child(2){
    font-size: 40px;
    font-weight: bold;
}

.text p:nth-child(3){
    font-size: 10px;
    font-weight: bold;
}


.cover .text .button{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.cover .text .button button{
    height: 45px;
    border-radius: 20px;
    border: none;
    width: 125px;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-right: 10px;
}


@media screen and (max-width:600px){

    .cover-parent{
        height: 400px;
    }
    .cover .text{
        top: 120px;
    }

.text p:nth-child(1){
    font-size: 13px;
}

.text p:nth-child(2){
    font-size: 30px;
}

.text p:nth-child(3){
    font-size: 10px;
}
}

@media screen and (max-width:450px){
    .cover-parent{
        height: 320px;
    }
    .cover .text{
        top: 80px;
    }


    .text p:nth-child(1){
        font-size: 11px;
    }
    
    .text p:nth-child(2){
        font-size: 28px;
    }
    
    .text p:nth-child(3){
        font-size: 10px;
    }

    .cover .text .button{
        margin-top: 50px;
    }
    .cover .text .button button{
        height: 30px;
        width: 100px;
    }

}
