.image-slider-main{
  display: grid;
  align-items: center;
  margin-top: 10px;
  height: 520px;
  width: 100%;
  background-color: rgb(226, 229, 229);
}


.slider-container{
  /* background-color: rgb(163, 163, 168); */
  background-color: rgb(226, 229, 229);
  /* width: 680px; */
  width: 690px;
  height: 390px;
  padding: 20px;
}


.slider-img{
  height: 320px !important;
  width: 230px !important;
  margin-top: 20px;
  /* background-color: red; */
  border-radius: 15px;
}
.slider-img img{
  height: 100%;
  width: 100%;
  border-radius: 10px;

}

.swiper-pagination-bullet{
  width: 18px;
  height: 5px;
  border-radius: 30%;
}

/* .swiper-slide-active{ */
  
/* .swiper-slide-prev{
  border: 5px solid red;
}*/

.swiper-pagination-bullet-active{
  background-color: brown;
} 

.swiper-slide-shadow-right{
  background-image:  linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ) !important;
  border-radius: 15px;

}

.swiper-slide-shadow-left{
  background-image:  linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ) !important;
  border-radius: 15px;
}





@media screen and (min-width:501px) and (max-width:700px) {
  .slider-container{
    width: 480px;
    height: 340px;
  }
  
  
  .slider-img{
    height: 220px !important;
    width: 160px !important;
  }

  
  .swiper-button-prev, .swiper-button-next{
    height: 10px !important;
    width: 10px !important;
    
  }

}
@media screen and (min-width:401px) and (max-width:500px) {

.slider-container{
    width: 380px;
    height: 210px;
  }
  
  
  .slider-img{
    height: 150px !important;
    width: 126.667px !important;
  }
  
  .swiper-button-prev, .swiper-button-next{
    height: 10px !important;
    width: 10px !important;
    
  }

}

@media screen and (max-width:400px) {
  .slider-container{
    width: 290px;
    height: 180px;
  }
  
  .slider-img{
    height: 120px !important;
    width: 96.667px !important;
  }


  
  .swiper-button-prev, .swiper-button-next{
    height: 10px !important;
    width: 10px !important;
    
  }
}